<!-- Search -->
<form class="form search" ng-submit="searchFormSubmit(search_hashtag)">
  <div class="row">
    <div class="col col_xs1">
      <label class="group_addon" for="search_hashtag">#</label>
    </div>
    <div class="col col_xs10">
      <input class="form_control" ng-model="search_hashtag" id="search_hashtag" name="search_hashtag" type="text" placeholder="Enter Instagram hashtag"/>
    </div>
    <div class="col col_xs1">
      <button class="btn btn-primary" type="submit"><i class="icon icon_search"></i></button>
    </div>
  </div>
</form>

<!-- View switcher -->
<nav class="view_switch menu menu-flat">
  <div class="menu_header row">
    <a href="#" class="menu_a menu_brand col col_xs6" ng-click="main.view = '-grid'">
      <i class="icon icon_apps"></i>
    </a>
    <a href="#" class="menu_a menu_brand col col_xs6" ng-click="main.view = '-list'">
      <i class="icon icon_dehaze"></i>
    </a>
  </div>
</nav>

<!-- Photos -->
<section ng-class="'photos row ' + main.view">

  <div class="col" ng-repeat="image in main.images">
    <input class="photos_item_checkbox" id="{{ 'photos_item_checkbox' + image.id }}" type="checkbox"/>
    <article class="photos_item">
      <label class="photos_item_content" for="{{ 'photos_item_checkbox' + image.id }}">
        <img ng-src="{{ main.view === '-list' ? image.large : image.thumb}}" alt=""/>
      </label>
      <div class="photos_item_meta clearfix">
        <img ng-src="{{image.user.profile_picture}}" class="photos_item_meta_avatar" alt=""/>
        <span class="photos_item_meta_name">{{image.user.full_name}}</span>
        <a href="{{image.link}}" class="photos_item_meta_insta" target="_blank">
          <i class="icon icon_open-in-new"></i>
        </a>
      </div>
    </article>
  </div>

</section>
