<!-- Photos -->
<section class="photos row -list">

  <div class="col" ng-repeat="image in main.printsPhotos">
    <input class="photos_item_checkbox" id="{{ 'photos_item_checkbox_' + $index }}" type="checkbox"/>
    <article class="photos_item">
      <label class="photos_item_content" for="{{ 'photos_item_checkbox_' + $index }}">
        <img ng-src="{{ image.large }}" alt=""/>
      </label>
      <div class="photos_item_meta clearfix">
        <img ng-src="{{image.user.profile_picture}}" class="photos_item_meta_avatar" alt=""/>
        <span class="photos_item_meta_name">{{image.user.full_name}}</span>
        <a href="{{image.link}}" class="photos_item_meta_insta" target="_blank">
          <i class="icon icon_open-in-new"></i>
        </a>
      </div>
    </article>
  </div>

</section>

<div class="fab">
  <span class="fab_2 tooltip tooltip-left" data-tooltip="Save Images">
    <a class="fab_btn btn btn-secondary-radius">
      <i class="icon icon_save"></i>
    </a>
  </span>

  <span class="fab_1 tooltip tooltip-left" data-tooltip="Print Images" ng-click="window.print();">
    <a class="fab_btn btn btn-secondary-radius">
      <i class="icon icon_print"></i>
    </a>
  </span>
</div>
