// Let's customize Weking
// ======================

// Import global variables & mixins
@import "weking/utilities/index";

// Read more about customization in best practices section: http://weking.github.io/get-started.html#best-practices

// Your code begins here
// Let do some magic
// =====================
.navbar {
  text-align: center;

  .menu_brand {
    float: none;
  }
}

.app {
  padding: @font-line-height 0;
}

.search {
  margin-bottom: @font-line-height;

  .group_addon {
    display: inline-block;
    width: 100%;
    margin-top: @font-line-height/4;
    margin-bottom: @font-line-height/4;
  }
  .form_control {
    width: 100%;
  }
}

.photos {
  &_filter {
    text-align: center;
    margin-bottom: @font-line-height;
  }
}
